<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unifs.behavioranalysis.dao.AreaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.unifs.behavioranalysis.bean.AreaInfo" >
    <id column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="ex_status" property="exStatus" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_area_info
    where index_id = #{indexId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unifs.behavioranalysis.bean.AreaInfo" >
    insert into t_area_info (index_id, province_code, province_name, 
      city_code, city_name, district_code, 
      district_name, ex_status)
    values (#{indexId,jdbcType=INTEGER}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR}, 
      #{districtName,jdbcType=VARCHAR}, #{exStatus,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unifs.behavioranalysis.bean.AreaInfo" >
    update t_area_info
    set province_code = #{provinceCode,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      district_name = #{districtName,jdbcType=VARCHAR},
      ex_status = #{exStatus,jdbcType=VARCHAR}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select index_id, province_code, province_name, city_code, city_name, district_code, 
    district_name, ex_status
    from t_area_info
    where index_id = #{indexId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select index_id, province_code, province_name, city_code, city_name, district_code, 
    district_name, ex_status
    from t_area_info
  </select>
</mapper>