<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unifs.behavioranalysis.dao.ProductOrderMapper" >
  <resultMap id="BaseResultMap" type="com.unifs.behavioranalysis.bean.ProductOrder" >
    <id column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="product_mode" property="productMode" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_product_order
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.unifs.behavioranalysis.bean.ProductOrder" >
    insert into t_product_order (user_no, user_id, product_mode, 
      product_id, staff_id, channel_id
      )
    values (#{userNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{productMode,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unifs.behavioranalysis.bean.ProductOrder" >
    update t_product_order
    set user_id = #{userId,jdbcType=VARCHAR},
      product_mode = #{productMode,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR}
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select user_no, user_id, product_mode, product_id, staff_id, channel_id
    from t_product_order
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_no, user_id, product_mode, product_id, staff_id, channel_id
    from t_product_order
  </select>

  <select id="selectUserCountByMonth" resultType="com.unifs.behavioranalysis.bean.view.DevCountView" >
    SELECT
        COUNT(0) devAmount,
        sum(order_amount) totalTurnover,
        sum(order_amount)/30 dayTurnover
        FROM
         t_product_order
         WHERE
             channel_id IN (
              SELECT
               channel_id
              FROM
               t_channel_info
              WHERE
               city_code = (
                SELECT
                 area_id
                FROM
                 t_area_info
                WHERE
             area_name like concat('%',#{areaName,jdbcType=VARCHAR},'%')
            )
         )
         and order_date like CONCAT('%',#{orderDate,jdbcType=VARCHAR},'%')
  </select>
  <select id="selectAllCount" resultType="com.unifs.behavioranalysis.bean.view.DevCountView" parameterType="java.lang.String">
        SELECT
           COUNT(0) devAmount,
            sum(order_amount) totalTurnover,
            sum(order_amount)/30 dayTurnover
        from t_product_order
         where order_date like CONCAT('%',#{orderDate,jdbcType=VARCHAR},'%')
  </select>
</mapper>