<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unifs.behavioranalysis.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.unifs.behavioranalysis.bean.User" >
    <id column="user_id" property="userId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="user_num" property="userNum" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="user_email" property="userEmail" jdbcType="CHAR" />
    <result column="department_id" property="departmentId" jdbcType="CHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.unifs.behavioranalysis.bean.User" >
    insert into t_user (user_id, name, user_num, 
      user_name, user_email, department_id, 
      state)
    values (#{userId,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{userNum,jdbcType=CHAR}, 
      #{userName,jdbcType=CHAR}, #{userEmail,jdbcType=CHAR}, #{departmentId,jdbcType=CHAR}, 
      #{state,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unifs.behavioranalysis.bean.User" >
    update t_user
    set name = #{name,jdbcType=CHAR},
      user_num = #{userNum,jdbcType=CHAR},
      user_name = #{userName,jdbcType=CHAR},
      user_email = #{userEmail,jdbcType=CHAR},
      department_id = #{departmentId,jdbcType=CHAR},
      state = #{state,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select user_id, name, user_num, user_name, user_email, department_id, state
    from t_user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, name, user_num, user_name, user_email, department_id, state
    from t_user
  </select>
</mapper>