body{
	background-color: #002a98 !important;
	color: #fff !important;
}
.header {
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #0738bb;
	background-color: #002a98;
	line-height: 30px;
}
.welcome {
	margin-left: 165px;
}
.closed {
	float: right;
	margin-right: 165px;
	margin-top: 7px;
}
.content {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	box-sizing:border-box;
}
.content-left {
   width: 25%;
   height: 500px;
   box-sizing:border-box;
}
.left-top {
	width: 90%;
	margin: 5px auto;
	height: 240px;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.border{
	border: 5px solid #0738bb;
	background-color: #002a98;
	border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.pieGraph {
	width: 90%;
	height: 100%;
}
.left-top img{
	margin-left: 10px;
}
.content-middle{
   width: 50%;
   height: 500px;
   box-sizing:border-box;
}
.middle-title {
	height: 40px;
	width: 95%;
	font-size: 23px;
	font-family:"Microsoft YaHei";
	font-weight: 700;
	margin: 5px auto;
	text-align: center;
	overflow: hidden;
}
.middle-map {
	height: 440px;
	width: 95%;
	margin: 5px auto;
}
.content-right{
   width: 25%;
   height: 500px;
   box-sizing:border-box;
}
.left{
	float: left;
}
.right{
	float: right;
}
.content-bottom {
	width: 97.5%;
	height: 200px;
	margin: 0 auto;
	box-sizing:border-box;
}
.bottom-left {
	height: 200px;
	width: 49%;
	box-sizing:border-box;
	margin: 0px auto;
}
.title {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	/*margin-left: 10px;*/
	color: #ff6600;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
#countUser,#countOrder,#countAverage,#countTotal{
	display: inline-block;
	color: #ff8800;
	font-size: 26px;
	font-weight: 700;
}
.countItem {
	display: inline-block;
	/*margin:20px 10px;*/
	width: 50%;
	text-align: center;
	margin-top: 25px;
}
.countItem img{

	width: 13px;
	height: 16px;
}
.spanitem{
	margin-top: 5px;
	display: inline-block;
    font-size: 16px;
}


