<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link type="text/css" href="../css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="../css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="../css/custom-styles.css" rel="stylesheet" />


</head>
<body>
<div class="panel panel-default">

    <div class="panel-heading">
        系统用户管理
    </div>

    <div calss="panel-body">
        <div class="middle-title border">
            联通营业厅用户数据分析
        </div>

    </div>
    <div class="panel-body">
        <div style="font-size:12px" class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>员工编号</th>
                    <th>员工姓名</th>
                    <th>邮箱地址</th>
                    <th>所属部门</th>
                    <th>帐号状态</th>

                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>10001</td>
                    <td>皮卡丘</td>
                    <td>pikaqiu@chinaunicom.cn</td>
                    <td>常磐市-常磐森林</td>
                    <td>激活</td>
                </tr>
                <tr class="info">
                    <td>10002</td>
                    <td>蚊香蛙</td>
                    <td>wenxiangwa@chinaunicom.cn</td>
                    <td>真新镇-1号公路</td>
                    <td>激活</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>